<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/customers/<%= @customer.id %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <label for="name">Edit Customer Name: <input type="text" name="name" value="<%= @customer.name %>" ></label>
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>