<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% @reservations.each do |reservation| %>
        <h2><%= "Customer: #{reservation.customer.name}" %></h2>
        <h2><%= "Restaurant: #{reservation.restaurant.name}" %></h2>
        <h2><%= "Date: #{reservation.date}" %></h2>
        <hr>
    <% end %>
    
</body>
</html>