<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Definitely Not OpenTable!</h1>
    <h3>Please select an action below:</h3>
    <!-- view index for customers - view index for restaurants -->
    <form action="/customers" method="GET">
        <input type="submit" value="Go to Customers index">
    </form>
    <form action="/restaurants" method="GET">
        <input type="submit" value="Go to Restaurants index">
    </form>

</body>
</html>